{% extends "layout.html" %}
{% block title %}Post{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}" />
{% endblock %}
{% block content %}
{% if post %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <img src="{{ post.Image }}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-4">
            <div class="container">
                <div class="row">
                    <p>{{post.Username}}</p>
                </div>
                <div class="row">
                    <p>{{post.Title}}</p>
                </div>
                <div class="row">
                    <p>{{post.Description}}</p>
                </div>
                <div class="row">
                    <p>num like: {{post.Num_likes}}</p>
                    <p>num collections: {{post.Num_collections}}</p>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    {% if liked %}
                        <button className="indButton" size="lg">
                            <Like theme="filled" size="24" fill="#ee7f8d" strokeWidth={2} />
                            Like
                        </button>
                    {% else %}
                        <button className="indButton" size="lg">
                            <Like theme="outline" size="20" />
                            Like
                        </button>

                    {% endif%}
                </div>

                <div class="container">
                    {% if collected %}
                        <button className="indButton" size="lg" onClick={() => this.toggleCollect()}>
                            <Star theme="filled" size="24" fill="#fcef4e" strokeWidth={3} />
                            Collect
                        </button>
                    {% else %}
                        <button className="indButton" size="lg" onClick={() => this.toggleCollect()}>
                            <Star theme="outline" size="19" />
                            Collect
                        </button>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
