{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
        .bg-pink {
            color: #FFB6C1;
        }
        .bg-yellow {
            color: #FFEA00
        }
    </style>
{% endblock %}
{% block content %}

    <div class="row justify-content-center mt-5">
        <b>Welcome to search page. Search image by image name</b>
    </div>
    <div class="row justify-content-center mt-3">
        <form class="form-inline" action="{{ url_for('main.search')}}" method="post">
            <input class="form-control mr-sm-2" type="text" name="key" placeholder="Key"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> 
    </div>

{% if post %}
</br>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
            <img src="{{ "data:image/png;base64, " + post['Image']}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{post.Key}}</h5>
                <p class="card-text">{{post.Description}}</p>
                <p class="card-text"><small class="text-muted">Shared by {{post.Username}}</small></p>
                <div>
                    <div class="row">
                        <div class="col">
                            <form action="{{url_for('main.like')}}" method="post">
                                <a href="javascript:;" onclick="parentNode.submit();" class="fa fa-heart bg-pink"></a>
                                <input type="hidden" name="username", value={{user.username}}>
                                <input type="hidden" name="author", value={{post.Username}}>
                                <input type="hidden" name="key", value={{post.Key}}>
                                <input type="hidden" name="source", value="search">
                            </form>
                            <p>{{post.Num_likes}}</p>
                        </div>
                        {% if user and user.username %}
                            <div class="col">
                                <form action="{{url_for('main.collection')}}" method="post">
                                    <a href="javascript:;" onclick="parentNode.submit();" class="fa fa-star bg-yellow"></a>
                                    <input type="hidden" name="username", value={{user.username}}>
                                    <input type="hidden" name="author", value={{post.Username}}>
                                    <input type="hidden" name="key", value={{post.Key}}>
                                    <input type="hidden" name="source", value="search">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endif %}
{% endblock %}
